div.item {
	height: 100px;
	width: 250px;
	border-radius: 10px;
    background: #99CCFF;
	float: left;
}

#hud {
	position: fixed;
	top: 0;
	background: #898480;
	margin: 0;
	width: 100%;
	height: 51px;
	padding: 15px 65px;
	color: #FFF;
	font-size: 1.1em;
}

.content .contentTitle {
	position: fixed;
	top: 146;
}

/**************************
	EQUIPMENT */
	
#equipment  ul{
	background: #FFF;
	position: fixed;
	top: 51;
	list-style-type: none;
    padding: 10 0;
    overflow: hidden;
	width: 100%;
	display: flex;
	justify-content: center;
}

#equipment  ul li {
	overflow: hidden;
	width: 75px;
	height: 75px;
	margin: 0 10px;
	border-radius: 5px;
	align-self:space-between;	
	border: 1px solid #000;
}

#equipment li a {	
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px;
	height: 100%;
	width: 100%;
    text-decoration: none;
	text-shadow: 1px 1px #999;
}

#equipment li a:not(:empty){	    
    background-color: #333333;
}

/***************************
	INVENTORY */
	
#inventoryContainer {
    margin: 10 0;
    padding: 0 0;
	width: 100%;
}

#inventoryContainer  div {	    
	width: 50%;
	float: left;
	height: 75px;
	margin: 0 0px;	
	padding: 5px;
	color: #FFF;
	border-top: 1px solid #b9c3f7;
	background: #2f396d;
}

#inventoryContainer  div .img {	    
	width: 55px;
	height: 55px;
	border-radius: 5px;
	border: 1px solid #b9c3f7;
	display: inline-block;
    text-align: center;
	margin: 5px 2px;
}

#inventoryContainer  div span {	    
	width: 100%;
	display: block;
	text-shadow: 1px 1px #999;
}

#inventoryContainer  div a {	    
	width: 35px;
	height: 35px;
	border-radius: 5px;
	border: 1px solid #b9c3f7;
	display: inline-block;
    text-align: center;
	margin: 2px 5px;
}

#inventoryContainer  div a i {	   
    font-size: 16px;
    line-height: 35px;
    color:white;
    width: 35px;
    height: 35px;
    text-align: center;
    vertical-align: bottom;
}

/***************************
	PLAZA */
	
#plazaContainer {
    margin: 10 0;
    padding: 0 0;
	width: 100%;
}

#plazaContainer  div {	    
	width: 100%;
	float: left;
	height: 75px;
	margin: 0 0px;	
	padding: 5px;
	color: #FFF;
	border-top: 1px solid #b9c3f7;
	background: #2f396d;
}

#plazaContainer  div .img {	    
	width: 55px;
	height: 55px;
	border-radius: 5px;
	border: 1px solid #b9c3f7;
	display: inline-block;
    text-align: center;
	margin: 5px 2px;
}

#plazaContainer  div span {	    
	width: 100%;
	display: block;
	text-shadow: 1px 1px #999;
}

#plazaContainer  div a {	    
	width: 55px;
	height: 35px;
	border-radius: 5px;
	border: 1px solid #b9c3f7;
	display: inline-block;
    text-align: center;
	margin: 2px 5px;
    line-height: 35px;
	color: #FFF;
	font-weight: bold;
    text-align: center;
    vertical-align: bottom;
}

/******************************
	TRAINING */

#trainingContent  {
	width: 100%;
}	

#trainingContent .wrapper {
	padding: 0px 5px;
	position: absolute;
	top: 166;
	width: 100%;
}

#trainingLog {
	padding: 0px 5px;
	margin-top: 280px;
}

#trainingContent .portrait {
	width: 75px;
	height: 75px;
	border-radius: 5px;
	border: 1px solid #b9c3f7;
    text-align: center;
}

#trainingContent   .left{
	float: left;
}

#trainingContent   .right{
	float: right;
}

#playerName{
	margin: 0px 10px;
}

#npcName{
	margin: 0px 10px;
	vertical-align: bottom;
}

.health-bar {
	vertical-align: top;
	margin: 10px 0px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	height: 10px;
	padding: 2px;
	background: #ddd;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	position: relative;
	display: inline-block;
}

.bar {
	background: #c54;
	width: 100%;
	height: 6px;
	position: relative;  
	transition: width .3s linear;
}

.hit {
	background: rgba(255,255,255,0.6);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 0px;	
	transition: width 1s linear;
}

#trainingContent  div .battleLog {	 
	border-radius: 5px;
    background: #666666;
	font-size: 10pt;
	color: #FFF;
	padding: 2px 5px;
	margin: 3px 0px;
	width: 100%;
}

#trainingContent  div .battleLog span { 
	width: 100%;
	display: inline-block;
}

#trainingContent  div .img {	    
	width: 55px;
	height: 55px;
	border-radius: 5px;
	border: 1px solid #b9c3f7;
	display: inline-block;
    text-align: center;
	margin: 5px 2px;
}

/******************************
	OTHER */
	
.contentTitle {
	width: 100%;
	text-align: center;
	background: #a8723f;
	color: #f2d6bc;
	text-shadow: 1px 1px #000;
	border-top: 1px solid #87592d;	
	border-bottom: 1px solid #87592d;
}

#content {
	margin-top: 146px;
}

/********************************************
	MENU
*********************************************/
/*icon*/

label ul, label li{
	margin:0;
	padding:0;
}

label li {
	background: #FFF;
	width: 36px;
	height: 5px;
	transition: .5s linear;
	list-style: none;
}

.mid, .bot{
	margin-top: 3px;
}

.rectangle label {
	cursor: pointer;
	display: block;
	width: 36px;
	height: 24px;
	padding: 0;
	margin: 0;
	position: fixed;
	top: 15;
	left: 15;
    z-index: 99;
	position: fixed;
}

input[type=checkbox]{
	position: fixed;
	left: -9999px;
}

input[type=checkbox]:checked ~ label ul li {
	width: 6px;
}

/*nav*/
.drawer {
  height: 100%;
  width: 0px;
  background: #CC9966;
  transition: .2s linear;
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  padding-top: 50px;
  z-index: 1;
}

input[type=checkbox]:checked ~ .rectangle .drawer {
	width: 80%;				
}

.drawer ul {
	margin: 0; 
	padding: 0; 
	list-style-type: none; 
	list-style-image: none;
}

.drawer li {
	display: block;   
	padding:15px; 
	border-bottom:#dddddd 1px solid;
}

.drawer ul li a { 
	text-decoration:none;  
	margin: 0px; 
	color:#FFF;
}

.drawer a {
	text-decoration:none; 
	color:#FFF;
}